body {
  background-color: black;  
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centraliza na vertical */
  align-items: center;      /* Centraliza na horizontal */
  min-height: 100vh;
  margin: 0;
  
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.galeria a {
  width: 45%; /* Aproximadamente 2 por linha */
  text-decoration: none;
}

.galeria img {
  width: 100%;
  max-width: 250px;
  border-radius: 8px;
  transition: transform 0.2s;
}

h1 {
    color: white;
    text-align: center;
}

